.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.top-grid-container {
    background-color: #1f2936;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-right: auto;
}

.grid-item {
    background-color: #1f2936;
    padding: 20px;
    text-align: -moz-left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grid-item img {
    width: auto;
    height: auto;
    object-fit: scale-down;
}

button {
    background-color: dodgerblue;
    color: white;
    border: 1px solid #1f2936;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.middle-grid-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box {;
    border-radius: 10px;
    border: dodgerblue 3px solid;
    overflow: hidden;
    width: 300px;
    height: 275px;
    flex: 1;
}

.top-row, .bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.text {
    color: black;
    text-align: left;
    padding: 10px;
    flex: 2;
    flex-direction: column;
}

.quote {
    color: black;
    text-align: center;
    padding: 50px;
    flex-grow: 1;
    flex-direction: row;
    margin-top: 50px;
    background-color: #e4e5ea;
    width: 100vw;
}

.bottom-info-div {
    margin: 50px auto;
    background-color: #3782f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #3782f5;
    border-radius: 5px;
    padding: 30px;
    width: 700px;
    gap: 50px;
}

.bottom-info-column, .bottom-button-column{
    display: flex;
    justify-content: space-around;
}

.bottom-button {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}