* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2936;
    padding: 20px;
    color: white;
    width: 100vw;
}

main {
    border-top: 1px solid #686f76;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

ul {
    background-color: #1f2936;
    padding: 20px;
    text-align: center;
    color: white;
}

li {
    display: inline;
    text-align: center;
    margin: 2px 3px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-grid-container {
    background-color: #1f2936;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-right: auto;
}

.grid-item {
    background-color: #1f2936;
    padding: 20px;
    text-align: -moz-left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grid-item img {
    width: auto;
    height: auto;
    object-fit: scale-down;
}

button {
    background-color: dodgerblue;
    color: white;
    border: 1px solid #1f2936;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.bottom-grid-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.box {
    border-radius: 10px;
    border: dodgerblue 3px solid;
    width: 250px;
    height: 150px;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.text {
    color: black;
    text-align: left;
    padding: 10px;
    flex-grow: 1;
    flex-direction: row;
}

.quote {
    color: black;
    text-align: center;
    padding: 50px;
    flex-grow: 1;
    flex-direction: row;
    margin-top: 50px;
    background-color: #e4e5ea;
    width: 100vw;
}

.bottom-info-div {
    margin: 50px auto;
    background-color: #3782f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #3782f5;
    border-radius: 5px;
    padding: 30px;
    width: 700px;
    gap: 50px;
}

.bottom-info-column, .bottom-button-column{
    display: flex;
    justify-content: space-around;
}

.bottom-button {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

footer {
    background-color: #1f2936;
    padding: 20px;
    text-align: center;
    border-top: 1px solid white;
    color: white;
}